:root{
    --primary_color: none;
    --secondary_color: none;
    --third_color: none;
    --fourth_color: none;
    --contrast_color: none;
    --intermediate_color: none;
    --gradient: none;
  }
  
#headerContainer {
    width: 100%;
}

#NavLink:hover {
    color: var(--contrast_color);
    /* background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#NavLink:active {
    color: var(--contrast_color);
}

.navlink{
    font-family: 'Roboto', sans-serif;
    color: var(--gradient) !important;
  }

#HeaderRow {
    /* background-color: grey; */
    height: 90px;
    width: 100%;
}

#titleCol {
    /* background-color: aqua; */
}

#navbarCol {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#navbar {
    /* background-color: brown; */
    width: 100%;
    margin-top: 17px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto
}

#logo {
    width: 50%;
    height: auto;
    opacity: 1;
}

#logo:hover {
     opacity: 0.55;
}