:root{
  --primary_color: none;
  --secondary_color: none;
  --third_color: none;
  --fourth_color: none;
  --constrast_color: none;
  --intermediate_color: none;
  --gradient: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  #wdylt {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  
  .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  }
  
  #required {
    color: #bf1650;
  }
  
  #required::before {
    display: inline;
    content: "⚠ ";
  }
  
  input, textarea{
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1.5px solid var(--primary_color);
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  #content {
    height: 150px;
  }
  /* label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  } */
  
  button[type="submit"],
  input[type="submit"] {
    background: var(--primary_color);
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 10px;
    transition-duration: 1s;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    transition-duration: 1s;
    color: black;
    background: var(--constrast_color);
    border: none;
  }
  
  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  
  .App {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .btn-contrast{
    background-color: var(--constrast_color);
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    opacity: 1!important;
    color: black;
  }

  .btn-contrast:hover{
    background-color: var(--primary_color);
    color: white;
  }

  .btn-contrast:disabled {
    background-color: var(--intermediate_color);
  }

  .btn-main{
    background-color: var(--primary_color);
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    margin-bottom: 10%;
    margin-left: "auto";
    margin-right: "auto";
  }

  .btn-main:hover{
    background-color: var(--secondary_color);
    color: white;
  }

  .btn-main:disabled {
    background-color: var(--intermediate_color);
  }


  /* .accordion-button {
    background-color: var(--secondary_color);
  }
   */
  
  hr {
    margin-top: 30px;
  }
  
  #required {
    color: red;
  }


