:root{
  --primary_color: none;
  --secondary_color: none;
  --third_color: none;
  --fourth_color: none;
  --constrast_color: none;
  --intermediate_color: none;
  --gradient: none;
}

   #infoRow:nth-child(even){background-color: rgba(255, 255, 255, 0.13);}
   #infoRow:nth-child(odd){background-color: rgba(66, 66, 66, 0.247)}
   #infoRow:hover {background-color: rgba(255,255,255,0.2);}

   table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  th,
  td {
    padding: 15px;
    color: #fff;
    text-align: left;
  }
  
  #headRow {
    
    background-color: rgba(39, 51, 160, 0.553);
  }
  
  tbody td {
      position: relative;
  }
 
  /* .accordion-header {
    background: transparent;
    color: var(--third_color);
    border-radius: 3px;
} */